<div class="checklist">
  <% 10.times do %>
    <div class="item">
      <span class="remove">x</span>
      <p><%= Faker::StarWars.quote %></p>
    </div>
  <% end %>

  <div class="item new">
    <form class="" action="#" method="post">
      <input type="text" name="" value="">
    </form>
  </div>
</div>
